<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person data</title>
</head>
<body>
        <a th:text="${person.getName()}"></a> <br>
        <a th:text="${person.getAge()}"></a> <br>
        <a th:text="${person.getId()}"></a> <br>
        <hr>
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Update!</a>
        <hr>

        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" >
            <input type="submit" value="DELETE!">
        </form>

</body>
</html>